mixin inventionblock(titlea, titleb, titlec, name, body, bodyb, picture, caption, link)
  .titlecard
    .expand
      h3.expansion +
    .spacer
    .infocard
      .infobridge
        .infoleft
          .invention
            h2.invention
              span.strike=titlea
              | 
              span.strike=titleb
              | 
              span.strike=titlec
          .infoexpansion
            h2.name Without
            h2.name
              =name
        .infocardchild
          .infoparahold
            p.infoparagraph
              =body
              br
              br
              =bodyb    
        .inforight
          .imghold
            img.featimg(src=picture)
          .caption
            p.captiontxt 
              =caption
    .iconcol
      .iconhold
        a(href=link target="_blank")
          img.linkout(src="../images/wikipedia-4096-black.png")
